@charset "utf-8";

html,
body
{
    height: 100%;
}

body
{
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

#splash
{
    background: url('/img/splash.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
}

.btn-default,
.btn-default:hover,
.btn-default:focus
{
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
}

.splash-container
{
    display: table;
    height: 100%;
    width: 100;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.splash-cell
{
    display: table-cell;
    vertical-align: top;
}

.splash-main
{
    margin-right: auto;
    margin-left: auto;
}

.splash-box
{
    padding: 25px;
}

#splash-title
{
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 768px)
{
    #splash-header
    {
        position: fixed;
        top: 0;
    }

    #splash-footer
    {
        position: fixed;
        bottom: 0;
    }

    #splash-title
    {
        float: left;
    }

    .splash-cell
    {
        vertical-align: middle;
    }

    #splash-header, #splash-footer, .splash-main
    {
        width: 100%;
    }
}

@media (min-width: 992px)
{
    #splash-header, #splash-footer, .splash-main
    {
        width: 700px;
    }
}