@charset "utf-8";

/**
 * General
 */

html
{
    position: relative;
    min-height: 100%;
}

body
{
    padding: 0;
    margin-bottom: 20px;
}

/* Layout Containers */

#container
{
    min-height: 100%;
    width: 100%;
}

#footer
{
    position: absolute;
    bottom: 0;
    background-color: #f8f8f8;
    height: 20px;
    width: 100%;
}

/* Tables */

.table-overflow
{
    table-layout: fixed;
}

.table-overflow td
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Forms */

.error-message
{
    color: #d9534f;
    font-weight: bold;
}

/* Text Formatting */

.text-format-overflow
{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/**
 * Map
 */

/* Container */

#map
{
    height: 70%;
    width: 100%;
}

.map-info-window-container
{
    min-height: 75px;
    min-width: 350px;
}

/* Controls */

#map-controls
{
    margin: 10px 0;
}

/* AJAX Loading Notification */

.modal-loader
{
    display: none;
}

/**
 * Discoveries
 */

/* Rater */

div.discovery-rater-container div
{
    text-align: center;
}

/**
 * View Elements
 */

div.searcher
{
    margin: 10px auto;
}

/**
 * Colors
 */

/* Glyphicon */

.glyphicon-positive
{
    color: #5cb85c;
}

.glyphicon-negative
{
    color: #d9534f;
}

.glyphicon-warning
{
    color: #f0ad4e;
}

.glyphicon-neutral
{
    color: #eee;
}

/**
 * Bootstrap overrides
 */

/* Navbar */

.navbar
{
    margin-bottom: 0;
}