@charset "utf-8";

/**
 * General
 */

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Layout Containers */

#container, #content
{
    height: 100%;
    width: 100%;
}

/**
 * Map
 */

/* Container */

#map
{
    height: 70%;
    width: 100%;
}

/* Controls */

#map-controls
{
    padding-bottom: 10px;
}

/* AJAX Loading Notification */

.modal-loader
{
    display: none;
}

/**
 * Discoveries
 */

/* Rater */

div.discovery-rater-container div
{
    text-align: center;
}

/**
 * Bootstrap
 */

/* Glyphicon */

.glyphicon-positive
{
    color: #5cb85c;
}

.glyphicon-negative
{
    color: #d9534f;
}

.glyphicon-warning
{
    color: #f0ad4e;
}

.glyphicon-neutral
{
    color: #eee;
}